<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div *ngIf="!isLoading" class="wrapper">
  <div class="name">
    <h2>{{ taskManagerDetail.path }}</h2>
  </div>
  <div class="status">
    <div nz-row>
      <div nz-col nzSpan="12">
        <dl>
          <dd>ID</dd>
          <dt>{{ taskManagerDetail.id }}</dt>
          <dd>Last Heartbeat</dd>
          <dt>{{ taskManagerDetail.timeSinceLastHeartbeat | date:'yyyy-MM-dd HH:mm:ss' }}</dt>
          <dd>Data Port</dd>
          <dt>{{ taskManagerDetail.dataPort }}</dt>
        </dl>
      </div>
      <div nz-col nzSpan="12">
        <dl>
          <dd>Physical CPU Cores</dd>
          <dt>{{ taskManagerDetail.hardware.cpuCores }}</dt>
          <dd>Physical Memory</dd>
          <dt>{{ taskManagerDetail.hardware.physicalMemory | humanizeBytes }}</dt>
          <dd>Free Slots / All Slots</dd>
          <dt><nz-progress class="slot-percent" nzStatus="normal" [nzPercent]="slotPercent" nzSize="small" [nzShowInfo]="false"></nz-progress> {{ taskManagerDetail.freeSlots }} / {{ taskManagerDetail.slotsNumber }}</dt>
        </dl>
      </div>
    </div>
  </div>
  <flink-navigation [listOfNavigation]="listOfNavigation"></flink-navigation>
</div>
<nz-skeleton [nzActive]="true" *ngIf="isLoading" [nzTitle]="false" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
