<div class="container">
  <h3>{{header}}</h3>
  <nz-progress nzStrokeLinecap="square" nzType="line" [nzPercent]="percent" nzStatus="normal"></nz-progress>
  <dl>
    <dd>Used</dd>
    <dt>{{ used | humanizeBytes }}</dt>
    <ng-container *ngIf="showMax">
      <dd>Maximum</dd>
      <dt>{{ max | humanizeBytes }}</dt>
    </ng-container>
    <ng-container *ngIf="showConfig">
      <dd>Configure</dd>
      <dt>{{ config | humanizeBytes }}</dt>
    </ng-container>
    <ng-container *ngIf="showCommitted">
      <dd>Committed</dd>
      <dt>{{ committed | humanizeBytes }}</dt>
    </ng-container>
    <ng-container *ngIf="showCount">
      <dd>Count</dd>
      <dt>{{ count | humanizeBytes }}</dt>
    </ng-container>
  </dl>
</div>
