<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div class="wrapper">
  <nz-table class="flink-memory-model" *ngIf="metrics" nzTemplateMode nzSize="small"
            [nzWidthConfig]="['220px','160px','200px',null]">
    <thead>
      <tr>
        <th colspan="2" class="table-header">Flink Memory Model</th>
        <th class="table-header">Configured Values</th>
        <th class="table-header">Metric</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="8" class="table-header">
          <img src="assets/images/process_mem_model.svg">
        </td>
        <td class="table-header">JVM Heap</td>
        <td>{{ config['jobmanager.memory.heap.size'] || '-' }}</td>
        <td>
          <nz-progress nzSize="small" nzStrokeLinecap="square"
                       [nzPercent]="+(metrics['Status.JVM.Memory.Heap.Used'] / metrics['Status.JVM.Memory.Heap.Max']  * 100 | number:'1.0-2')"
                       nzStatus="normal"></nz-progress>
          {{ metrics['Status.JVM.Memory.Heap.Used'] | humanizeBytes }}
          / {{ metrics['Status.JVM.Memory.Heap.Max'] | humanizeBytes }}
        </td>
      </tr>
      <tr>
        <td class="table-header">Off-Heap Memory</td>
        <td>{{ config['jobmanager.memory.off-heap.size'] || '-' }}</td>
        <td><i nz-icon nz-tooltip nzTitle="Metrics related to this configuration parameter cannot be monitored. Flink does not have full control over these memory pools"
               nzType="info-circle"></i></td>
      </tr>
      <tr>
        <td class="table-header">JVM Metaspace</td>
        <td>{{ config['jobmanager.memory.jvm-metaspace.size'] || '-' }}</td>
        <td>
          <nz-progress nzSize="small" nzStrokeLinecap="square"
                       [nzPercent]="+(metrics['Status.JVM.Memory.Metaspace.Used'] / metrics['Status.JVM.Memory.Metaspace.Max']  * 100 | number:'1.0-2')"
                       nzStatus="normal"></nz-progress>
          {{ metrics['Status.JVM.Memory.Metaspace.Used'] | humanizeBytes }}
          / {{ metrics['Status.JVM.Memory.Metaspace.Max'] | humanizeBytes }}
        </td>
      </tr>
      <tr>
        <td class="table-header">JVM Overhead</td>
        <td>
          <ng-container *ngIf="config['jobmanager.memory.jvm-overhead.min'] === config['jobmanager.memory.jvm-overhead.max']; else minMaxTemplate">
            {{ config['jobmanager.memory.jvm-overhead.min'] || '-' }}
          </ng-container>
          <ng-template #minMaxTemplate>
            Min: {{ config['jobmanager.memory.jvm-overhead.min'] || '-'}}
            <br>
            Max: {{ config['jobmanager.memory.jvm-overhead.max'] || '-'}}
          </ng-template>
        </td>
        <td><i nz-icon nz-tooltip nzTitle="Metrics related to this configuration parameter cannot be monitored. Flink does not have full control over these memory pools"
               nzType="info-circle"></i></td>
      </tr>
    </tbody>
  </nz-table>
</div>
