<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<ng-container *ngIf="jobManagerMetric">
  <nz-card nzTitle="JVM Memory">
    <div class="info-container">
      <flink-progress-state header="Heap"
        [used]="jobManagerMetric.heapUsed"
        [max]="jobManagerMetric.heapMax"
        [committed]="jobManagerMetric.heapCommitted">
      </flink-progress-state>
      <flink-progress-state header="Non-Heap"
        [used]="jobManagerMetric.nonHeapUsed"
        [max]="jobManagerMetric.nonHeapMax"
        [committed]="jobManagerMetric.nonHeapCommitted">
      </flink-progress-state>
    </div>
  </nz-card>
  <nz-card nzTitle="Outside JVM Memory">
    <div class="info-container">
      <flink-progress-state header="Directed"
        [used]="jobManagerMetric.directUsed"
        [max]="jobManagerMetric.directMax"
        [count]="jobManagerMetric.directCount">
      </flink-progress-state>
      <flink-progress-state header="Mapped"
        [used]="jobManagerMetric.mappedUsed"
        [max]="jobManagerMetric.mappedMax"
        [count]="jobManagerMetric.mappedCount">
      </flink-progress-state>
    </div>
  </nz-card>
  <nz-card nzTitle="Garbage Collection">
    <nz-table
      [nzTemplateMode]="true"
      [nzShowPagination]="false"
      [nzSize]="'small'"
      class="no-border gc-table">
      <thead>
        <tr>
          <th>Collector</th>
          <th>Count</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let g of jobManagerMetric.garbageCollectors;trackBy:trackByName;">
          <td><span class="gc-name">{{ g.name }}</span></td>
          <td>{{ g.count | number }}</td>
          <td>{{ g.time | number }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</ng-container>
