<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<nz-divider nzText="Vertex TimeLine"></nz-divider>
<div #mainTimeLine></div>
<nz-divider *ngIf="isShowSubTaskTimeLine" nzText="SubTask TimeLine"></nz-divider>

<div class="name" [hidden]="!isShowSubTaskTimeLine">
  {{ selectedVertex?.name }}
  <label class="checkbox" nz-checkbox [ngModel]="showAttempt" (ngModelChange)="toggleAttemptTimeline($event)">Show Attempt Timeline</label>
</div>
<div *ngIf="showAttempt" class="filter">
  <div class="area">
    <span class="label">Subtask-ID:</span>
    <nz-select nzSize="small" nzShowSearch [(ngModel)]="selectedSubTaskId" (ngModelChange)="onSubTaskIdChange()" nzPlaceHolder="Select Subtask Id">
      <nz-option [nzValue]="'all'" [nzLabel]="'All Subtask'"></nz-option>
      <nz-option *ngFor="let id of listOfSubTaskId" [nzLabel]="'subtask_' + id" [nzValue]="id"></nz-option>
    </nz-select>
  </div>
  <div class="area">
    <span class="label">Attempt-ID:</span>
    <nz-select nzSize="small" nzShowSearch [(ngModel)]="selectedAttemptId" [nzDisabled]="listOfAttemptId.length === 0" (ngModelChange)="onAttemptIdChange()" [nzPlaceHolder]="listOfAttemptId.length === 0 ? 'Choose Subtask Id First' : 'Select Attempt Id'">
      <nz-option [nzValue]="'all'" [nzLabel]="'All Attempt'"></nz-option>
      <nz-option *ngFor="let id of listOfAttemptId" [nzLabel]="'attempt_' + id" [nzValue]="id"></nz-option>
    </nz-select>
  </div>
</div>
<div #subTaskTimeLine id="subtask"></div>
